<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Dashboard</title>
    <meta charset="utf-8" />
    <!-- 引入刚刚下载的 ECharts 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.2/dist/echarts.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style type="text/css">

    </style>
    <style>
        #lowInventoryList_1 {
            display: none;
        }
        #lowInventoryList_2 {
            display: none;
        }
        #highInventoryList_1 {
            display: none;
        }
        #highInventoryList_2 {
            display: none;
        }
    </style>



</head>
<body>
    <div id="reminder" style="display:none;">
        <p>Only Administrators are authorized for this page!</p>
    </div>
    <h1 align="center">Sales Dashboard</h1>
    <div id="content" style="margin-top:20px;">

        <div style="display:flex;justify-content:center;align-items:center;margin-top:20px;">
            <div >
                <button type="button" onclick="window.location.href = '/index'">Back to Home</button>
            </div>
            <div style="margin-right:20px;"></div>

            <div >
                <button type="button" onclick="window.location.href = '/'">Log Out</button>
            </div>

        </div>


        <h4 align="center">Choose Type</h4>
        <div style="display:flex;justify-content:center;align-items:center;margin-top:10px;"">
            <div >
                <button type="button" onclick="window.location.href = '/salesDashboard'">Bar Charts</button>
            </div>
        <div style="margin-right:20px;"></div>

        <div >
                <button type="button" onclick="window.location.href = '/salesDashboard_pie'">Pie Charts</button>
            </div>

        </div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <h2>Top 5 Carpet Items with Low Inventory</h2>
        <ul>
            <% lowInventoryItems.forEach(function(item){%>
                <li>
                    Carpet Name: <%= item.name %> - Quantity: <%= item.quantity %> in stock
                </li>
            <% })%>
        </ul>
    
    <h2>Top 5 Carpet Items with High Inventory</h2>
    <ul>
        <% for (const item of highInventoryItems) { %>
            <li>Carpet Name: <%= item.name %> - Quantity: <%= item.quantity %> in stock</li>
        <% } %>
    </ul>

    <ul id="lowInventoryList_1">
        <% for (const item of lowInventoryItems) { %>
            <li data-item-name="<%= item.name %>"></li>
        <% } %>
    </ul>

    <ul id="lowInventoryList_2">
        <% for (const item of lowInventoryItems) { %>
            <li data-item-quantity="<%= item.quantity %>"></li>
        <% } %>
    </ul>

    <ul id="highInventoryList_1">
        <% highInventoryItems.forEach(function(item){%>
            <li data-item-name="<%- item.name %>">
            </li>
        <% })%>
    </ul>

    <ul id="highInventoryList_2">
        <% for (const item of highInventoryItems) { %>
            <li data-item-quantity="<%= item.quantity %>"></li>
        <% } %>
    </ul>

    <!-- <div id="plot_1_container">
        {{ plot_1|safe }}
    </div> -->

    

    
    
<main class="plot">
<!-- 为 ECharts 准备一个定义了宽高的 DOM -->
    <div style="display:flex;justify-content:center;align-items:center;">
<div id="main1" style="width: 700px; height: 500px"></div>
<input id="xAxis" value="{{@xAxis}}" type="hidden" />
<input id="series" value="{{@series}}" type="hidden" />
<div id="main2" style="width: 700px; height: 500px"></div>
<input id="xAxis2" value="{{@xAxis}}" type="hidden" />
<input id="series2" value="{{@series}}" type="hidden" />
    </div>

    <div style="display:flex;justify-content:center;align-items:center;">
        <div id="main3" style="width: 700px;height:500px;"></div>
        <input id="xAxis" value="{{@xAxis}}" type="hidden" />
        <input id="series" value="{{@series}}" type="hidden" />
        <div id="main4" style="width: 700px; height: 500px"></div>
        <input id="xAxis2" value="{{@xAxis}}" type="hidden" />
        <input id="series2" value="{{@series}}" type="hidden" />
    </div>


    

</div>
</main>


    <script type="text/javascript">
    
        
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main1'));
        // 从 html tag 获取低库存数据
        var lowInventoryList_1 = document.getElementById('lowInventoryList_1');
        var listItems_1 = lowInventoryList_1.getElementsByTagName('li');
        var itemNames = [];
        for (var i = 0; i < listItems_1.length; i++) {
            var itemName = listItems_1[i].getAttribute('data-item-name');
            itemNames.push(itemName);
        }
        var lowInventoryList_2 = document.getElementById('lowInventoryList_2');
        var listItems_2 = lowInventoryList_2.getElementsByTagName('li');
        var quantities = [];
        for (var i = 0; i < listItems_2.length; i++) {
            var quantity = parseFloat(listItems_2[i].getAttribute('data-item-quantity'));
            quantities.push(quantity);
        }

        // 指定图表的配置项和数据
        var option = {
        title: {
        text: 'Top 5 Carpet Items with Low Inventory'
    },
            grid: {
                x: 80,
                y: 60,
                x2: 80,
                y2: 60,
                backgroundColor: 'rgba(0,0,0,0)',
                borderWidth: 1,
                borderColor: '#ccc'
            },
        tooltip: {},
        xAxis: {
        data: itemNames
        
    },
        yAxis: {},
        series: [
    {
        name: 'Quantity: ',
        type: 'bar',
        data: quantities
    }
        ]

    };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

        
        var myChart2 = echarts.init(document.getElementById('main2'));
         // 从 html tag 获取高库存数据
        var highInventoryList_1 = document.getElementById('highInventoryList_1');
        var listItems_1_high = highInventoryList_1.getElementsByTagName('li');
        var itemNames_high = [];
        for (var i = 0; i < listItems_1_high.length; i++) {
            var itemName_high = listItems_1_high[i].getAttribute('data-item-name');
            itemNames_high.push(itemName_high);
        }
        var highInventoryList_2 = document.getElementById('highInventoryList_2');
        var listItems_2_high = highInventoryList_2.getElementsByTagName('li');
        var quantities_high = [];
        for (var i = 0; i < listItems_2_high.length; i++) {
            var quantity_high = parseFloat(listItems_2_high[i].getAttribute('data-item-quantity'));
            quantities_high.push(quantity_high);
        }

        // 指定图表的配置项和数据
        var option2 = {
            title: {
                text: 'Top 5 Carpet Items with High Inventory'
            },
            grid: {
                x: 80,
                y: 60,
                x2: 80,
                y2: 60,
                backgroundColor: 'rgba(255,255,0,0)',
                borderWidth: 1,
                borderColor: '#ccc'
            },
            tooltip: {},

            xAxis: {
                data: itemNames_high
            },
            yAxis: {},
            series: [
            {
                name: 'Quantity: ',
                type: 'bar',
                data: quantities_high
            }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart2.setOption(option2);

        // 基于准备好的dom，初始化echarts实例
        var myChart3 = echarts.init(document.getElementById('main3'));
        var lowInventoryList_1 = document.getElementById('lowInventoryList_1');
        var listItems_1 = lowInventoryList_1.getElementsByTagName('li');
        var lowInventoryList_2 = document.getElementById('lowInventoryList_2');
        var listItems_2 = lowInventoryList_2.getElementsByTagName('li');
        var data_low = [];
        for (var i = 0; i < listItems_1.length; i++) {
            var itemName = listItems_1[i].getAttribute('data-item-name');
            var quantity = parseFloat(listItems_2[i].getAttribute('data-item-quantity'));
            data_low.push({value:quantity, name:itemName});
        }


        // 指定图表的配置项和数据
        option3 = {
            title: {
                text: 'Top 5 Carpet Items with Low Inventory',

                left: 'center'
            },
            tooltip: {
                trigger: 'item'
            },
            legend: {
                x:'center',
                y:'top',
                padding: [50,0,0,0]

            },
            series: [
                {
                    name: 'Access From',
                    type: 'pie',
                    radius: '50%',
                    data: data_low,
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    },
                    label:{            //饼图图形上的文本标签
                        normal:{
                            show:true,
                            position:'outer', //标签的位置
                            textStyle : {
                                fontWeight : 400 ,
                                fontSize : 16    //文字的字体大小
                            },
                            formatter:function (arg) {
                                return arg.percent+'%'+'\n'+arg.data.name+': '+arg.data.value
                            }


                        }
                    },
                }
            ]
        };


        // 使用刚指定的配置项和数据显示图表。
        myChart3.setOption(option3);

        var myChart4 = echarts.init(document.getElementById('main4'));

        var highInventoryList_1 = document.getElementById('highInventoryList_1');
        var listItems_1_high = highInventoryList_1.getElementsByTagName('li');
        var highInventoryList_2 = document.getElementById('highInventoryList_2');
        var listItems_2_high = highInventoryList_2.getElementsByTagName('li');
        var data_high = [];
        for (var i = 0; i < listItems_1_high.length; i++) {
            var itemName_high = listItems_1_high[i].getAttribute('data-item-name');
            var quantity_high = parseFloat(listItems_2_high[i].getAttribute('data-item-quantity'));
            data_high.push({value:quantity_high,name:itemName_high});
        }

        // 指定图表的配置项和数据
        var option4 = {
            title: {
                text: 'Top 5 Carpet Items with High Inventory',

                left: 'center'
            },
            tooltip: {
                trigger: 'item'
            },
            legend: {
                x:'center',
                y:'top',
                padding: [50,0,0,0]

            },
            series: [
                {   roseType: 'area',
                    name: 'Access From',
                    type: 'pie',
                    radius: '50%',
                    data: data_high,
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    },
                    label:{            //饼图图形上的文本标签
                        normal:{
                            show:true,
                            position:'outer', //标签的位置
                            textStyle : {
                                fontWeight : 400 ,
                                fontSize : 16    //文字的字体大小
                            },
                            formatter:function (arg) {
                                return arg.percent+'%'+'\n'+arg.data.name+': '+arg.data.value
                            }


                        }
                    },
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart4.setOption(option4);
    
    </script>
</body>
</html>